doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Twitter App
        //link(rel="stylesheet", type="text/css", href=`../${cssBundle}`)
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        .container
            h1 0ops!
            h2=error
        footer
            //script(src=`../${vendorBundle}`, type="text/javascript")
            //script(src=`../${jsBundle}`, type="text/javascript")
