doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Twitter App
        link(rel="stylesheet", type="text/css", href=cssBundle)
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        .container
          h1 Index page
          p=data
          a(href="/tweets" id="toto") go to tweets
        footer
            script(src=`${vendorBundle}`, type="text/javascript")
            script(src=`${jsBundle}`, type="text/javascript")
